<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AirplaneMode</string>
	<key>CFBundleIdentifier</key>
	<string>com.a3tweaks.switch.airplane-mode</string>
	<key>CFBundleDisplayName</key>
	<string>Airplane Mode</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>MinimumOSVersion</key>
	<string>3.0</string>
	<key>NSPrincipalClass</key>
	<string>AirplaneModeSwitch</string>
	<key>alternate-action-url</key>
	<string>prefs:path=AIRPLANE_MODE</string>
	<key>lazy-load</key>
	<true/>
</dict>
</plist>
