Package: com.a3tweaks.flipswitch
Name: Flipswitch
Depends: mobilesubstrate (>= 0.9.5001), com.rpetrich.rocketbootstrap (>= 1.0.5) | firmware (<< 7.0)
Conflicts: com.rpetrich.donotdisturbtoggle (<= 1.0-1), com.jerryen.rotationlockflipswitch
Replaces: com.jerryen.rotationlockflipswitch, tw.garynil.ccfixer93, tw.hiraku.nightshift
Provides: com.jerryen.rotationlockflipswitch, tw.garynil.ccfixer93, tw.hiraku.nightshift
Version: 1.0.15
Architecture: iphoneos-arm
Description: Centralized toggle system for iOS
Homepage: http://rpetri.ch/cydia/flipswitch/beta/
Depiction: http://rpetri.ch/cydia/flipswitch/beta/
Author: rpetrich & A3Tweaks <rpetrich+flipswitch@gmail.com>
Section: System
Tag: purpose::extension, role::developer
Icon: file:///Applications/Preferences.app/icon-table.png
dev: flipswitch
