Package: com.a3tweaks.flipswitch
Name: Flipswitch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: A3Tweaks
Author: A3Tweaks & Ryan Petrich
Section: System
Conflicts: com.a3tweaks.a3toggleapi
Replaces: com.a3tweaks.a3toggleapi
Tag: role::developer
