<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.a3tweaks.switch.location</string>
	<key>CFBundleExecutable</key>
	<string>Location</string>
	<key>CFBundleDisplayName</key>
	<string>Location Services</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>MinimumOSVersion</key>
	<string>3.0</string>
	<key>NSPrincipalClass</key>
	<string>LocationSwitch</string>
	<key>alternate-action-url</key>
	<string>prefs:root=LOCATION_SERVICES</string>
	<key>defaults</key>
	<string>com.apple.locationd</string>
	<key>key</key>
	<string>LocationServicesEnabled</string>
	<key>PostNotification</key>
	<string>com.apple.locationd/Prefs</string>
</dict>
</plist>
